body {
	background: #FFFDF7;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    /*justify-content: center;*/
    width: 100%;
    /*margin: 1em 0;*/
}

.outer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}

.inner {
  margin: auto;
}

.menuText {
  padding: 4px 0;
}

.footerText {
    padding: 0.5em 3em;
    font-size: 0.8em;
    width: 50%;
    margin: auto;    
    align-self: center;
}

#nav {
  margin: 1em auto;
  max-width: 1280px;
}

.content {
  padding: 0.5em 3em;
  max-width: 1280px;
  margin: auto;
}

.header {
  background: url("banner2.jpg") repeat-x;
  height: 15em;       
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.3);
  color: #372B37;
}

.header, .footer {
/*    background: #EEE5E4;*/
/*    background: #2B2B1C;*/

    width: 100%;
    margin: 0;  
}

.footer {   
    color: #fff;
    bottom: 0;
    position: absolute;    
    background-color: #372B37;
}

.topHeading  {
	font-family: Indie Flower;
  margin-top: 6px !important;
  margin-left: 15% !important;
  font-size: 2.5em;
  width: 45%;
}

a.social {
  margin-top: 14px !important;
  color: #372B37;
  text-decoration: none !important;
  font-size: 1.1em;
  padding: 0 0.5em;
}

.item {
	max-width: 90%;
  margin: auto;
}

.logo {
	width: 12%;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
}

.circle {
  margin: auto;
  border-radius: 3em 3em;
  z-index: 0;
  font-size: 1.5em;
}

.linkText {
  z-index: 1;
  width: 90%;
  height: 90%;
  margin: auto;
}

.right {
    float: right;
}

#circle1 {
    background: url("gold.jpg");
    padding: 1.75em 1.75em;
}

#circle2 {
    background: url("purple.jpg");
    padding: 1.75em 1em;
}

#circle3 {
    background: url("green.jpg");
    padding: 1.75em 1em;
}

#circle4 {
    background: url("blue.jpg");
    padding: 1.75em 1.5em;
}

#circle5 {
    background: url("orange.jpg");
    padding: 1.75em 1.5em;
}

#circle6 {
    background: url("red.jpg");
    padding: 1.75em 1.25em;
}

@media only screen and (max-width:770px) {
  p, .circle, a.social, .footerText {
    font-size: 0.7em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  .content {
    padding: 0.5em 1em;
  }

  .topHeading {
    font-size: 1.75em;
    margin-top: 9px;
    margin-left: 18% !important;
    width: 70%;
  }

  .logo {
    width: 15%;
  }

  a.social {
    margin-top: 7px !important;
  }

  .header {
    background: url("banner3.jpg");
    height: 200px;
  }
}

@media only screen and (min-width: 770px) and (max-width:1280px) {

    .circle {
      font-size: 1.25em;
    }
  }

